:root {
    --bg-primary: #fff;
    --bg-secondary: #fff;
    --text-color: #626262;
    --border: #d2d2d2;
    --blue: #008FDB;
    --icon: #737373;
    --green: #65EBBA;
}

.nav {
    padding: 1rem;
    background-color: var(--bg-primary);
}
