@tailwind base;
@tailwind components;
@tailwind utilities;

/* hidden scroll */
html {
    overflow:  hidden !important;
}

body {
    font-size: 15px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 13px;
    }
}
