@import "tailwindcss";
@source "../views";

/* hidden scroll */
html {
    overflow-y: auto !important;
}

body {
    font-size: 15px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 13px;
    }
}